<include file="Index:header" />
<!--banner-->
<div class="banner">
    <img src="__IMG__/pro-banner.jpg"/>
</div>
<!--pro-display-->
<div class="display-main">
     <div class="pro-title">
         <p class="tit1">Boutique tea</p>
         <ul>
             <li class="left">
                 <p>客至心常热</p>
                 <p>羡阳春茶瑶草碧</p>
             </li>
             <li>
                 <span>茶叶</span>
             </li>
             <li class="right">
                 <p>人走茶不凉</p>
                 <p>兰陵美酒郁金香</p>
             </li>
         </ul>
     </div>
    <div class="product-images">
        <ul>
            <li><a href="#"><img src="image/tea_img2.jpg"></a>
                <div class="images-text">
                    <a href="#"><p>远山印象普洱生茶</p></a>
                </div>
            </li>
            <li><a href="#"><img src="image/tea_img2.jpg"></a>
                <div class="images-text">
                    <a href="#"><p>远山印象普洱生茶</p></a>
                </div>
            </li>
            <li><a href="#"><img src="image/tea_img2.jpg"></a>
                <div class="images-text">
                    <a href="#"><p>远山印象普洱生茶</p></a>
                </div>
            </li>
            <li><a href="#"><img src="image/tea_img2.jpg"></a>
                <div class="images-text">
                    <a href="#"><p>远山印象普洱生茶</p></a>
                </div>
            </li>
            <li><a href="#"><img src="image/tea_img2.jpg"></a>
                <div class="images-text">
                    <a href="#"><p>远山印象普洱生茶</p></a>
                </div>
            </li>
            <li><a href="#"><img src="image/tea_img2.jpg"></a>
                <div class="images-text">
                    <a href="#"><p>远山印象普洱生茶</p></a>
                </div>
            </li>
            <li><a href="#"><img src="image/tea_img2.jpg"></a>
                <div class="images-text">
                    <a href="#"><p>远山印象普洱生茶</p></a>
                </div>
            </li>
            <li><a href="#"><img src="image/tea_img2.jpg"></a>
                <div class="images-text">
                    <a href="#"><p>远山印象普洱生茶</p></a>
                </div>
            </li>
            <li><a href="#"><img src="image/tea_img2.jpg"></a>
                <div class="images-text">
                    <a href="#"><p>远山印象普洱生茶</p></a>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--footer-->
<div class="footer-wrap">
   <div class="footer">
       <ul>
           <li class="tel">
               <p>电话：010-1111111</p>
           </li>
           <li class="mail">
               <p>邮箱：1@qq.com</p>
           </li>
           <li class="address">
               <p>地址：昌平南环1号</p>
           </li>
       </ul>
       <p class="copyright">Copyright © 2015-2018 谁用谁知道交易中心有限公司 版权所有 京ICP备11111111号-3 谁用谁知道交易中心运营服务平台</p>
   </div>
</div>
<include file="Index:footer" />